<nav class="navbar  columns is-primary is-multiline is-centered" role="navigation" aria-label="main navigation">
  <div class="level column is-full">
    <div class=" navbar-brand level-item has-text-centered">
      <a class="logo" href="#">
        <figure class="image is-64x64">
          <img src="./assets/exchange.png" alt="Exchange Api" >
        </figure>
      </a>
    </div>
  </div>
  <div class=" column is-half">
    <div class="level">
      <div class="level-item has-text-centered">
        <a class="navbar-item" href="#">
          Link 1
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a class="navbar-item" href="#">
          Link 2
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a class="navbar-item" href="#">
          Link 3
        </a>
      </div>
      <div class="level-item has-text-centered">
        <a class="navbar-item" href="#">
          Link 4
        </a>
      </div>
    </div>
  </div>
</nav>
