<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <div class="level">
        <div class="level-item has-text-centered">
            <span class="navbar-item" >
              Lorem Ipsum
            </span>
        </div>
        <div class="level-item has-text-centered">
            <span class="navbar-item" >
              Lorem Ipsum
            </span>
        </div>
        <div class="level-item has-text-centered">
            <span class="navbar-item" >
              Lorem Ipsum
            </span>
        </div>
        <div class="level-item has-text-centered">
            <span class="navbar-item" >
              Lorem Ipsum
            </span>
        </div>
      </div>
    </div>
  </div>
</footer>
