<div class="container is-fluid columns is-centered is-vcentered is-full-height">
  <div class="column is-half is-multiline">
    <div class="column is-full ">
      <form class="columns is-centered" [formGroup]="currecyForm">

        <div class="field is-expanded">
          <label class="label">Dollars</label>
          <div class="field is-full has-addons">
            <p class="control">
            <span class="select is-medium">
              <select
                name="fromSelector"
                id="fromSelector"
                formControlName="fromSelector" #fromSelector>
                <option *ngFor="let opt of fromOptions" [ngValue]="opt">{{ opt.value }}</option>
              </select>
            </span>
            </p>
            <p class="control">
              <input
                formControlName="fromCurrency"
                class="input is-success is-medium"
                [ngClass]="{'is-success': fromCurrency.valid, 'is-danger': fromCurrency.invalid}"
                type="text"
                placeholder="Dollars"
                appOnlyNumbers
                appCurrencyFormat [currencySimbol]="fromSelector.value">
            </p>
          </div>
          <div *ngIf="fromCurrency.valid; else invalidFormCurrency">
            <p class="help is-success">great your are good to go!</p>
          </div>
          <ng-template #invalidFormCurrency>
            <div *ngIf="fromCurrency.invalid && (fromCurrency.dirty || fromCurrency.touched)" class="alert alert-danger">
              <div *ngIf="fromCurrency.errors.required">
                <p class="help is-danger">This field must be fill or different to cero</p>
              </div>
              <div *ngIf="fromCurrency.errors.pattern">
                <p class="help is-danger">valid currency format "$123,123.1234"</p>
              </div>
            </div>
          </ng-template>
        </div>


        <div class="field  is-half">
          <div class="field is-expanded">
            <label class="label">Euros</label>
            <div class="field is-full has-addons">
              <p class="control">
            <span class="select is-medium">
              <select formControlName="toSelector">
                <option *ngFor="let opt of toOptions" [ngValue]="opt">{{ opt.value }}</option>
              </select>
            </span>
              </p>
              <p class="control">
                <input
                  [ngClass]="{'is-success': toCurrency.valid, 'is-danger': toCurrency.invalid}"
                  [value]="exchangeResult$ | async"
                  formControlName="toCurrency"
                  class="input is-medium"
                  type="text"
                  placeholder="Euros"
                  appOnlyNumbers>
              </p>
            </div>

          </div>
        </div>
      </form>
    </div>

    <div class="column is-full has-text-centered">
      <button
        (click)="formSubmit()"
        class="currency-button is-5 button is-info is-outlined is-medium"
        [ngClass]="{'is-loading': loading$ | async}"
        [disabled]="currecyForm.invalid">Calculate your exchange</button>
    </div>
  </div>
</div>
